{% extends "index.html" %}

{% block notification_type %}<i>test-email</i>{% endblock %}

{% block username %}dPramanik{% endblock %}

{% block content %}
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae ultricies lectus. In hac habitasse platea
  dictumst. Suspendisse gravida arcu non augue imperdiet tempus. Nunc iaculis lacus id eros consequat aliquet. Praesent eu
  felis urna. Ut vehicula ligula non nibh tristique dignissim. Nam ullamcorper suscipit laoreet. Duis lacinia sollicitudin
  nunc eget lobortis. Suspendisse ac ante sodales, dictum nulla in, lacinia ante. Class aptent taciti sociosqu ad litora
  torquent per conubia nostra, per inceptos himenaeos. Vestibulum tristique ex sed nisl varius vehicula. Pellentesque
  habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
{% endblock %}