/* 
Primary Style Sheet for the pOrgz Application

Once the basic layout is developed, `streamlit` allows customization
using `style.css` sheet. More information:
https://discuss.streamlit.io/t/css-hacks/14501
*/

footer {
    visibility: visible;
}

footer:after {
    content: 'Copywright © 2023: pOrgz <https://github.com/pOrgz-dev>';
    display: block;
    position: relative;
    color: tomato;
    padding: 5px;
    top: 3px;
}
